/* ==========================================================================
   Form
   ========================================================================== */
.panel-contact form > div{
  display: flex;

  @media only screen and (max-width: 767px) {
    display: block;
  }
}

.webform-submission-form{
  .form-item{
    margin-top: 20px;

    &::first-of-type{
      margin-top: 0;
    }

    @media only screen and (min-width: 2000px) {
      margin-top: 1vw;

      &:first-of-type{
        margin-top: 0;
      }
    }
  }

  section{
    margin-bottom: 0;

    @media only screen and (min-width: 2000px) {
      margin-bottom: 0;
    }
  }

  section.checkbox-submit-wrap .webform-section-wrapper{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 0px;

    @media only screen and (min-width: 2000px) {
      margin-top: 0;
    }

    .form-item{
      margin-top: 30px;

      @media only screen and (min-width: 2000px) {
        margin-top: 1.5vw;
      }

      @media only screen and (max-width: 767px) {
        margin-top: 20px;
      }
    }

    @media only screen and (max-width: 767px) {
      display: block;
    }
  }

  .js-form-type-checkbox{
    display: flex;
    align-items: flex-start;
    padding-right: 50px;

    @media only screen and (min-width: 2000px) {
      padding-right: 2.5vw;
    }

    @media only screen and (max-width: 767px) {
      padding-right: 0;
      margin-bottom: 20px;
    }
  }
}



/* ==========================================================================
   Drupal Custom
   ========================================================================== */
/* ==============================
   admin tabs
   ============================== */
#block-tabs {
  background-color: #fff;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  line-height: 40px;
  text-align: center;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 900;
  color: black;

  @media only screen and (min-width: 2000px){
    border-top: 0.05vw solid #cccccc;
    border-bottom: 0.05vw solid #cccccc;
    line-height: 2vw;
  }

  ul {
    clear: both;
    display: table;
    content: " ";
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    margin: 0 auto;
  }

  li {
    border-right: 1px solid #cccccc;
    display: inline-block;
    width: auto;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;

    &:first-child {
      border-left: 1px solid #cccccc;
    }

    @media only screen and (min-width: 2000px){
      border-right: 0.05vw solid #cccccc;
      padding-top: 0.5vw;
      padding-bottom: 0.5vw;

      &:first-child{
        border-left: 0.05vw solid #cccccc;
      }
    }
  }

  a {
    display: inline-block;
    padding: 0 20px;

    @media only screen and (min-width: 2000px){
      padding: 0 1vw;
    }
  }
}

.toolbar a{
  font-size: 13px;

  @media only screen and (min-width: 2000px){
    font-size: 0.65vw;
  }
}

/* ==============================
   status message
   ============================== */
.message {
  background-color: #009add;
  color: #ffffff;
  left: 10%;
  line-height: 60px;
  padding: 0 20px;
  position: absolute;
  right: 10%;
  top: 200px;
  z-index: 5;

  @media only screen and (min-width: 2000px){
    line-height: 3vw;
    padding: 0 1vw;
    top: 10vw;
  }
}

/* ==============================
   Login-Site
   ============================== */
#user-login-form {
  margin-top: 200px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  padding-bottom: 50px;

  label {
    margin-bottom: 10px;
    display: block;
  }

  input {
    display: block;
    width: 100%;
    outline: 0;
    border: 1px solid #ccc;
  }

  .description {
    font-size: 12px;
    padding-bottom: 30px;
    padding-top: 5px;
    display: block;
  }

  #edit-submit {
    width: 100px;
    height: 50px;
  }

  @media only screen and (min-width: 2000px){
    margin-top: 10vw;
    width: 25vw;
    padding-bottom: 2.5vw;

    label{
      margin-bottom: 0.5vw;
    }
    input{
      border: 0.05vw solid #ccc;
    }
    .description{
      font-size: 0.6vw;
      padding-bottom: 1.5vw;
      padding-top: 0.25vw;
    }
    #edit-submit{
      width: 5vw;
      height: 2.5vw;
    }
  }
}

@media only screen and (max-width: 767px) {
  #user-login-form {
    margin-top: 180px;
    padding: 0 10px;
  }
}

@media only screen and (max-width: 500px) {
  #user-login-form {
    width: 100%;
  }
}


/* ==========================================================================
   toolbar
   ========================================================================== */
#toolbar-bar {
  position: fixed;
}

body.toolbar-horizontal.toolbar-tray-open #main-header {
  top: 79px;
}

/* ==============================
   status message
   ============================== */
.drupal-big-message {
  background-color: black;
  color: #ffffff;
  font-weight: 300;
  left: 10%;
  line-height: 60px;
  padding: 0 20px;
  position: absolute;
  right: 10%;
  top: 200px;
  z-index: 5;
  position: relative;
  left: 0;
  width: 100%;
  top: 0;
  background: transparent;
  border-top: 1px solid #847161;
  border-bottom: 1px solid #847161;

  @media only screen and (min-width: 2000px){
    line-height: 3vw;
    padding: 0 1vw;
    font-size: 0.75vw;
  }
}
