<section class="default-panel-padding" data-paragraph-id="{{ paragraph.id() }}">
  <a href="https://www.templatemonster.com/drupal-themes/the-autumn-portfolio-responsive-drupal-template-98473.html" style="display:block;width:100%;">
    <img src="{{ directory ~ '/img/banner.jpg' }}" style="display:block;width:100%;">
  </a>
</section>
