<section class="panel-legal" data-paragraph-id="{{ paragraph.id() }}">
  <div class="max-width">
    <div class="row">
      <div class="col-1 desktop">&nbsp;</div>
      <div class="col-10">
        {{content.field_area_01}}
      </div>
      <div class="col-1 desktop">&nbsp;</div>
    </div>
  </div>
</section>
